Repository DofusSharp/DofusSharp, changes with the labels that .github/labeler.yml gives for each.
All labels: dofusdb-api, dofusdb-cli, dofocus-api, best-crush

.github/labeler.yml:

dofusdb-api:
  - changed-files:
      - any-glob-to-any-file:
          - 'DofusSharp.DofusDb.ApiClients/*'
          - 'Tests.Live.DofusDb.ApiClients/*'
          - 'Tests.UnitTests.DofusDb.ApiClients/*'

dofusdb-cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'DofusSharp.DofusDb.Cli/*'

dofocus-api:
  - changed-files:
      - any-glob-to-any-file:
          - 'DofusSharp.Dofocus.ApiClients/*'
          - 'Tests.Live.Dofocus.ApiClients/*'
          - 'Tests.UnitTests.Dofocus.ApiClients/*'

best-crush:
  - changed-files:
      - any-glob-to-any-file:
          - 'BestCrush/*'
          - 'BestCrush.Domain/*'
          - 'BestCrush.Migrations/*'

build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/*'
  - head-branch: ['^build/']

refactor:
  - head-branch: ['^refactor/']

documentation:
  - head-branch: ['^docs/']

feature:
  - head-branch: ['^feat/']

update readme
  DofusSharp.DofusDb.Cli/README.md
Labels: dofusdb-cli

docs: update dofusdb readme (#59)
  DofusSharp.DofusDb.Cli/README.md
Labels: dofusdb-cli

display help after errors
  DofusSharp.DofusDb.Cli/Program.cs
Labels: dofusdb-cli

set command name properly
  DofusSharp.DofusDb.Cli/DofusSharp.DofusDb.Cli.csproj
Labels: dofusdb-cli

fix: use proper name for dofusdb command in help message (#60)
  DofusSharp.DofusDb.Cli/DofusSharp.DofusDb.Cli.csproj
  DofusSharp.DofusDb.Cli/Program.cs
Labels: dofusdb-cli

feat: implement cancellation on CancelKeyPress event
  DofusSharp.DofusDb.Cli/Program.cs
Labels: dofusdb-cli

feat: implement cancellation on CancelKeyPress event (#61)
  DofusSharp.DofusDb.Cli/Program.cs
Labels: dofusdb-cli

improve root command description
  DofusSharp.DofusDb.Cli/Program.cs
Labels: dofusdb-cli

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

don't print stack trace unless verbose is specified
  DofusSharp.DofusDb.Cli/Commands/CommonOptions.cs
  DofusSharp.DofusDb.Cli/Program.cs
Labels: dofusdb-cli

Update issue templates (#62)
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

improve errors
  DofusSharp.DofusDb.Cli/Commands/CommonOptions.cs
  DofusSharp.DofusDb.Cli/Program.cs
Labels: dofusdb-cli

Update issue templates (#63)
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

add progress in multi search query
  BestCrush.Domain/Models/ProgressMessage.cs
  BestCrush.Domain/Services/Upgrades/GameDataUpgradeHandler.cs
  DofusSharp.DofusDb.ApiClients/IDofusDbQuery{TResource}.cs
  DofusSharp.DofusDb.ApiClients/IDofusDbTableClient{TResource}.cs
  DofusSharp.DofusDb.ApiClients/Queries/DofusDbQuery{TResource}.cs
  DofusSharp.DofusDb.Cli/Commands/CommonOptions.cs
  DofusSharp.DofusDb.Cli/Commands/TableClientCommand.cs
  DofusSharp.DofusDb.Cli/Program.cs
  DofusSharp.DofusDb.Cli/ProgressSync.cs
  Tests.BestCrush/Utils/CommonMocks.cs
Labels: dofusdb-api, dofusdb-cli

add more logs for table clients
  DofusSharp.DofusDb.Cli/Commands/TableClientCommand.cs
  DofusSharp.DofusDb.Cli/Program.cs
Labels: dofusdb-cli

add methods to build urls that are used to fetch data
  DofusSharp.Common/HttpClientUtils.cs
  DofusSharp.Dofocus.ApiClients/DofocusItemsClient.cs
  DofusSharp.Dofocus.ApiClients/DofocusRunesClient.cs
  DofusSharp.Dofocus.ApiClients/DofocusServersClient.cs
  DofusSharp.DofusDb.ApiClients/Clients/DofusDbImageClient.cs
  DofusSharp.DofusDb.ApiClients/Clients/DofusDbScalableImageClient.cs
  DofusSharp.DofusDb.ApiClients/Clients/DofusDbTableClient{TResource}.cs
  DofusSharp.DofusDb.ApiClients/Clients/DofusDbVersionClient.cs
  DofusSharp.DofusDb.ApiClients/IDofusDbImageClient{TId}.cs
  DofusSharp.DofusDb.ApiClients/IDofusDbScalableImageClient{TId}.cs
  DofusSharp.DofusDb.ApiClients/IDofusDbTableClient{TResource}.cs
  DofusSharp.DofusDb.ApiClients/IDofusDbVersionClient.cs
  DofusSharp.DofusDb.Cli/Commands/GameVersionCommand.cs
  DofusSharp.DofusDb.Cli/Commands/ImageClientCommand.cs
  DofusSharp.DofusDb.Cli/Commands/ScalableImageClientCommand.cs
  DofusSharp.DofusDb.Cli/Commands/TableClientCommand.cs
Labels: dofusdb-api, dofocus-api

use spectre console to improve output
  DofusSharp.DofusDb.Cli/Commands/GameVersionCommand.cs
  DofusSharp.DofusDb.Cli/Commands/ImageClientCommand.cs
  DofusSharp.DofusDb.Cli/Commands/ScalableImageClientCommand.cs
  DofusSharp.DofusDb.Cli/Commands/TableClientCommand.cs
  DofusSharp.DofusDb.Cli/DofusSharp.DofusDb.Cli.csproj
  DofusSharp.DofusDb.Cli/Program.cs
Labels: dofusdb-cli

add immediate message when user cancels command
  DofusSharp.DofusDb.Cli/Program.cs
Labels: dofusdb-cli

build: split pr workflows into one per product
  .github/workflows/cd-libraries.yml
  .github/workflows/pr-best-crush.yml
  .github/workflows/pr-dofocus.yml
  .github/workflows/pr-dofusdb.yml
  .idea/.idea.DofusSharp.Dofocus.Filter/.idea/.gitignore
  .idea/.idea.DofusSharp.Dofocus.Filter/.idea/.name
  .idea/.idea.DofusSharp.Dofocus.Filter/.idea/copilot.data.migration.agent.xml
  .idea/.idea.DofusSharp.Dofocus.Filter/.idea/copilot.data.migration.edit.xml
  .idea/.idea.DofusSharp.Dofocus.Filter/.idea/encodings.xml
  .idea/.idea.DofusSharp.Dofocus.Filter/.idea/indexLayout.xml
  .idea/.idea.DofusSharp.Dofocus.Filter/.idea/inspectionProfiles/Project_Default.xml
  .idea/.idea.DofusSharp.Dofocus.Filter/.idea/vcs.xml
  DofusSharp.Dofocus.Filter.slnf
  DofusSharp.DofusDb.Filter.slnf
Labels: none

fix multi search
  DofusSharp.DofusDb.ApiClients/IDofusDbTableClient{TResource}.cs
Labels: dofusdb-api

fix workflows
  .github/workflows/pr-best-crush.yml
  .github/workflows/pr-dofocus.yml
  .github/workflows/pr-dofusdb.yml
Labels: none

rename best crush slnf
  .github/workflows/cd-best-crush.yml
  .github/workflows/pr-best-crush.yml
  DofusSharp.BestCrush.Filter.slnf
Labels: none

remove unused slnf
  DofusSharp.Libraries.Filter.slnf
Labels: none

replace slnf
  BestCrush.Filter.slnf
Labels: none
